<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.com.puli.trade.fdv">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.CALL_PRIVILEGED"
        android:protectionLevel="signature|privileged"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--
        * Definir GlobalParametrosGenerales para uso de variables globales
        Llamar en cualquier actividad como (GlobalParametrosGenerales) getApplicationContext()
        para acceder a sus metodos o recursos.
        * Impresindible registrar en cada nueva actividad a si misma como actividad en ejecución:
            GlobalParametrosGenerarles.setActividadActual( this );
        Preferiblemente en onResume()
    -->
    <application
        android:name=".clases.GlobalParametrosGenerales"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="co.com.puli.trade.fdv.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--Servicio para el manejo de las notificaciones-->
        <service android:name=".clases.FcmIntentService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!--Configuración por defecto para las notificaciones-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_default"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_notification"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id_default" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".clases.GPSServices" />
        <service android:name=".clases.LocationMonitoringService" />


        <activity
            android:name=".actividades.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.PrincipalActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.MensajesActivity"
            android:label="@string/title_mensajes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.AlertasActivity"
            android:label="@string/title_alertas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.ChatActivity"
            android:label="@string/title_chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.ChatUsuariosActivity"
            android:label="@string/txt_chat_usuarios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.RegistroActivity"
            android:label="@string/txt_registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.CambiarPasswordActivity"
            android:label="@string/txt_update_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.PausaActivaActivity"
            android:label="@string/title_active_pause"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.FUEC_RegistroActivity"
            android:label="@string/title_fuec_request"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.AgendamientoActivity"
            android:label="@string/title_shedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.ControlPDVActivity"
            android:label="@string/title_post_control"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.NuevoPDVActivity"
            android:label="@string/title_new_pdv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.NuevoPedidoActivity"
            android:label="@string/title_orders_pdv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.ListadoConcursosActivity"
            android:label="@string/title_concursos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.ConcursoActivity"
            android:label="@string/title_concursos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.PuntoOportunidadActivity"
            android:label="@string/title_punto_oportunidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.MisPedidosActivity"
            android:label="@string/title_my_orders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.DetallePedidoActivity"
            android:label="@string/title_oder_details"
            android:screenOrientation="portrait" />
        <activity android:name=".actividades.NotificacionesActivity"
            android:label="@string/title_notifications"
            android:screenOrientation="portrait" />
    </application>

</manifest>